# This file contains example values where possible,
#   Replace example values to real values in .env file on your machine
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
DEVELOPMENT_DB_NAME=postgres_database_development
TEST_DB_NAME=postgres_database_test
DB_PORT=5433
IPSTACK_API_KEY=
